@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.text-purple {
  color: #6415ff;
}

h1 {
  color: #1a202c;
  font-size: 48px;
}

.h5__title {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 16px;
  text-align: center;
}

.h2__title {
  font-size: 48px;
  text-align: center;
}

/* NAVIGATION BAR */

.nav__bar--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0%;
  animation: fade-right 650ms;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-1200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(1200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.logo__img {
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
}

.logo__link {
  margin: 0 24px 0 0;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #243e63;
  transition: all 300ms ease;
}
.logo__link:hover {
  color: rgb(100, 21, 255);
}

li {
  list-style-type: none;
}

.nav__link {
  margin: 24px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #243e63;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
}
.nav__link:hover {
  border-bottom: 2px solid rgb(100, 21, 255);
  color: rgb(100, 21, 255);
}

.link__hover-effect:hover:after {
  width: 100%;
  opacity: 1;
}

.nav__link--btn {
  color: #f7fafc;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 24px;
  text-decoration: none;
  font-weight: 600;
  transition: all 300ms ease;
}
.nav__link--btn:hover {
  background-color: rgb(80, 17, 204);
}

.nav__link--btn-2 {
  color: #f7fafc;
  background-color: #6415ff;
  padding: 12px 32px;
  margin: 8px 0;
  border-radius: 24px;
  text-decoration: none;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link--btn-2:hover {
  background-color: rgb(80, 17, 204);
}

/* BUTTON MENU */

.btn__menu {
  background-color: transparent;
  color: rgb(36, 62, 99);
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.menu__backdrop {
  position: fixed;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border: 0.8px solid rgb(226, 232, 240);
  border-radius: 8px;
  margin: 24px 16px;
  padding: 32px;
  display: none;
}

.menu--open .menu__backdrop {
  display: flex;
}

.menu__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu__link {
  text-decoration: none;
  color: rgb(26, 32, 44);
  margin: 8px 0;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
  transition: all 300ms ease;
}
.menu__link:hover {
  border-bottom: 2px solid rgb(100, 21, 255);
  color: rgb(100, 21, 255);
}

.btn__menu--close {
  position: fixed;
  color: rgb(36, 62, 99);
  font-size: 16px;
  height: 24px;
  width: 24px;
  right: 15px;
  top: 30px;
}

/* HEADER */

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 0;
  animation: fade-right 650ms;
}

.header__container--text {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.header__container--img2 {
  width: 60%;
}

.header__container--para {
  color: #243e63;
  font-size: 16px;
  margin: 32px 0px;
}

.header__input {
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 24px;
  padding: 20px 192px 20px 32px;
  font-weight: 500;
  font-size: 100%;
}

.header__container--btn {
  color: #f7fafc;
  background-color: #6415ff;
  font-size: 16px;
  margin: 8px 8px 8px 0;
  padding: 16px 0;
  border: none;
  border-radius: 24px;
  position: absolute;
  cursor: pointer;
  width: 10rem;
  display: flex;
  justify-content: center;
  width: 160px;
  font-weight: 700;
  line-height: 1;
  transition: all 300ms ease;
}
.header__container--btn:hover {
  background-color: rgb(80, 17, 204);
}

.header__container--form {
  display: flex;
  position: relative;
  justify-content: end;
}

.header__container--para-img {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0;
}

.header__container--para2 {
  color: #a0aec0;
  font-size: 12px;
}

.header__container--img1 {
  width: 100%;
  margin: 16px 0 0;
  padding: 0 64px 0 0;
  opacity: 0.5;
}

/* FEATURES */

.features__container {
  padding: 80px 0;
  animation: fade-left 650ms;
}

.features__container--para {
  font-size: 18px;
  color: #7c8ba1;
  margin: 16px 0 0;
  text-align: center;
  width: 100%;
}

.features__img {
  padding: 20px;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 40px;
}

.features__service {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.service__wrapper {
  width: calc(100% / 3);
  display: flex;
  align-items: flex-start;
  padding: 32px 8px;
}

.title {
  color: #243e63;
  font-size: 24px;
  font-weight: 700;
}

.description {
  color: #7c8ba1;
  font-size: 16px;
  margin: 16px 0 0;
  font-weight: 500;
}

.text__container {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

/* QUALITY WORK */

.quality-work__container,
.values__container {
  padding: 96px 0;
  display: flex;
  align-items: center;
}

.description__container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.img__container {
  width: 50%;
}

.h5__title-2 {
  font-size: 16px;
  color: #6415ff;
  font-weight: 700;
}

.h2__title-2 {
  font-size: 48px;
  color: #243e63;
  margin: 16px 0 0;
  font-weight: 900;
}

.description__para {
  color: #7c8ba1;
  font-size: 18px;
  margin: 16px 0 0;
  font-weight: 500;
}

.learn-more__btn {
  color: #f7fafc;
  background-color: #6415ff;
  margin: 32px 0 0;
  padding: 12px 32px;
  border: 0 solid white;
  border-radius: 24px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  width: 50%;
  transition: all 300ms ease;
}
.learn-more__btn:hover {
  background-color: rgb(80, 17, 204);
}

.img__container {
  border: 0.8px solid rgb(226, 232, 240);
  border-radius: 4px;
}

/* STEPS */

.steps__container {
  padding: 96px 0;
  display: flex;
  align-items: center;
}

.steps__img--container {
  width: 50%;
  max-width: 100%;
}

.steps__description--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 32px 0;
  margin-left: 32px;
}

.list__description--container {
  display: flex;
  margin-top: 32px;
}

.list__description {
  margin-left: 24px;
}

.list__number {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
}

.h6__title-2 {
  color: #243e63;
  font-size: 20px;
}

.description__para-2 {
  color: #718096;
  font-size: 14px;
  font-weight: 500;
  margin: 12px 0 0;
}

/* VALUES */

.description__para-3 {
  color: #7c8ba1;
  font-size: 18px;
  margin: 32px 0 0;
  font-weight: 500;
}

.values__img--container {
  width: 50%;
  border: none;
}

.briefcase {
  background-color: rgb(254, 178, 178);
  color: rgb(155, 44, 44);
  border-radius: 9999px;
  padding: 8px;
}

.dollar {
  background-color: rgb(154, 230, 180);
  color: rgb(39, 103, 73);
  border-radius: 9999px;
  padding: 8px;
}

.values__icon--container {
  display: flex;
  flex-wrap: wrap;
}

.values__description--container {
  margin-top: 32px;
  margin-right: 32px;
  width: 43%;
}

.values__title--container {
  display: flex;
  align-items: center;
}
.icon-title {
  color: #243e63;
  font-size: 20px;
  margin-left: 12px;
  font-weight: 700;
}

.icon__description {
  color: #718096;
  font-size: 16px;
  margin: 16px 0 0;
}

/* PRICING */

.description__para-4 {
  color: #7c8ba1;
  font-size: 18px;
  margin-top: 16px;
  font-weight: 500;
}

.h5__title-3 {
  font-weight: 700;
  color: #6415ff;
  font-size: 16px;
  margin-bottom: 16px;
}

.h2__title-3 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
}

.pricing__container {
  padding: 96px 0;
  max-width: 1280px;
}

.pricing__container--description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pricing-plans__container {
  display: flex;
  flex-wrap: wrap;
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  max-width: 384px;
  min-width: 230px;
  padding: 8px 32px 0 32px;
  margin-top: 64px;
  margin-right: 32px;
  position: relative;
  border-radius: 8px;
  border-top: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.price {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 32px 0;
}

.pricing-description {
  display: flex;
  flex-direction: column;
  padding: 32px;
  margin: 0 32px;
  border-top: 1.6px solid rgb(226, 232, 240);
  border-bottom: 1.6px solid rgb(226, 232, 240);
  margin-left: -32px;
  margin-right: -32px;
}

.btn {
  padding: 32px;
}

.decoration-1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 8px;
  height: 8px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.decoration-2 {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.decoration-3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 8px;
  height: 8px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.buy-now__btn-1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  width: 100%;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: rgb(247, 250, 252);
}

.buy-now__btn-2 {
  background-color: rgb(247, 250, 252);
  width: 100%;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: rgb(100, 21, 255);
}

.buy-now__btn-3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  width: 100%;
  border: none;
  border-radius: 9999px;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: rgb(247, 250, 252);
}

.span__personal {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.span__price {
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
}

.span__monthly {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
}

.span__individuals {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.span__templates,
.span__landing-pages,
.span__internal-pages,
.span__basic-assistance {
  color: #718096;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.span__personal-2 {
  color: #f7fafc;
  font-size: 20px;
  font-weight: 700;
}

.span__price-2 {
  color: #f7fafc;
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
}

.span__monthly-2 {
  color: #f7fafc;
  font-size: 16px;
  font-weight: 700;
}

.span__individuals-2 {
  color: #f7fafc;
  font-size: 20px;
  font-weight: 700;
}

.span__templates-2,
.span__landing-pages-2,
.span__internal-pages-2,
.span__basic-assistance-2 {
  color: #f7fafc;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

/* FOOTER */

.footer__background {
  background-color: rgb(100, 21, 255);
  margin: 0 -32px -32px -32px;
  padding: 96px 32px;
}

.footer__description {
  display: flex;
  flex-wrap: wrap;
  margin-top: -48px;
}

.footer__column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 5);
}

.column__title {
  color: rgb(247, 250, 252);
  font-size: 16px;
  font-weight: 700;
}

.footer__link {
  text-decoration: none;
  color: #f7fafc;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
}
.footer__link:hover {
  border-bottom: 2px solid #f7fafc;
}

.footer__list {
  margin-top: 24px;
}

.footer__links {
  margin-top: 12px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  width: 100%;
  border-bottom: 1.6px solid rgb(116, 44, 255);
  margin: 64px 0;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  height: auto;
  width: 32px;
  max-width: 100%;
}

.footer__logo--title {
  color: #f7fafc;
  font-size: 20px;
  margin-left: 8px;
  font-weight: 900;
}

.footer__para {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 500;
}

.footer__social {
  display: flex;
}

.footer__social--link {
  padding: 8px;
  margin-right: 16px;
  background-color: rgb(247, 250, 252);
  color: rgb(26, 32, 44);
  border-radius: 24px;
  line-height: 24px;
  transition: all 300ms ease;
}
.footer__social--link:hover {
  background-color: rgb(203, 213, 224);
}

.footer__social--img {
  height: 16px;
  width: 16px;
  max-width: 100%;
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }
  .header__container {
    display: flex;
    flex-direction: column;
  }

  .header__container--text {
    width: 448px;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  .header__container--para2 {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }

  .header__container--img1 {
    padding: 0;
  }

  .features__container--para {
    font-size: 16px;
  }

  .h2__title-2 {
    font-size: 36px;
  }

  .description__para {
    font-size: 16px;
  }

  .description__para-3 {
    font-size: 16px;
  }

  .description__para-4 {
    font-size: 16px;
  }

  .service__wrapper {
    width: calc(100% / 2);
  }

  .pricing-plans__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing-plan {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .btn__menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .features__service {
    display: flex;
    flex-direction: column;
  }

  .h5__title-2 {
    margin-top: 32px;
  }

  .quality-work__container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .steps__container {
    display: flex;
    flex-direction: column;
  }

  .list__description--container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .list__description {
    margin: 0;
  }

  .values__container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .values__icon--container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .values__description--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .learn-more__btn {
    width: 100%;
  }

  .footer__column {
    width: calc(100% / 3);
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
  }

  .footer__para {
    margin-top: 32px;
  }

  .footer__social {
    margin-top: 32px;
  }

  .steps__description--container {
    text-align: center;
  }
}

@media (max-width: 640px) {
  .service__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__column {
    width: calc(100% / 4);
  }

  .footer__description {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .header__input {
    padding: 16px 0 16px 32px;
  }

  .header__container--form {
    display: block;
  }

  .header__container--btn {
    width: 100%;
  }

  .header__container--text {
    width: 100%;
  }

  .text__container {
    margin-top: 8px;
    margin-left: 0px;
  }

  .description__container {
    width: 100%;
    align-items: center;
  }

  .learn-more__btn {
    width: 50%;
  }

  .steps__description--container {
    margin-left: 0;
  }

  .values__description--container {
    margin-right: 0;
  }
}
